*{
    box-sizing: border-box;
    margin: 0;
    padding:0;

}
body{
    background-color:  hsl(198, 71%, 95%);font-family: "Barlow Semi Condensed", sans-serif;
    
 

}
#testimonial-grid-container{
    padding:5% 3%;
    
    



}
#testmonial-1{
    background-color: hsl(263, 55%, 52%);
    color:white;
    position: relative;
    z-index: 0;

}

#testmonial-2{
    background-color: hsl(224, 10%, 45%);
    color:white;


}


#testmonial-3{
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);


}

#testmonial-4{
    background-color: hsl(219, 29%, 14%);
    color:white;



}

#testmonial-5{
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);


}
.grid-item{
    margin-bottom:20px;
    padding:20px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgb(145, 145, 145);
    font-size: 13px;


}
.grid-item p{
    opacity: 70%;
}
.header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    z-index: 3;
    position: relative;

}
.header .name{
    opacity: 100%;
    font-size: 1rem;
}
.header img{
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid;
}
.grid-item h4{
    margin-bottom: 20px;
    font-size: 1.3rem;
    font-weight: 600;
}
#bg-quote{
    position: absolute;
    right:15%;
    top:0;
    z-index: 1;

}
@media(min-width:576px){
    
    
    
    #testimonial-grid-cpntainer  {
        display: flex;
        max-width: 1440px;
        margin: 0 auto;
        
    }
    #testmonial-5{
        flex-basis: 20%;
    }
    #main-left{
        display:flex;
        flex-direction: column;
        flex-basis: 80%;

    }
    #main-left .grid-item{
        margin-right: 15px;
    }

    #top{
        display: flex;
        flex-basis: 50%;
    }
    #bottom{
        display: flex;
        flex-basis: 50%;
    }
    #testmonial-1{
        flex-basis: 70%;
    }
    #testmonial-2{
        flex-basis: 30%;
    }
    #testmonial-3{
        flex-basis: 30%;

    }
    #testmonial-4{
        flex-basis: 70%;

    }
}